title{
    color: green;
}
*{
    margin: 0;
    padding: 0;
}
header, nav, main, footer{
    width: 100%;
    background-color: #14213D;
    color: aliceblue;
    padding: 50px;
    box-sizing: border-box;
}
nav, footer{
    height: auto;
    background-color: #FCA311;
}
nav ul{
    text-align: center;
}
nav ul li{
    width: 10%;
    height: auto;
    min-width: 80px;
    padding: 10px;
    background-color: #E5E5E5;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
nav ul li a:link,nav ul li a:visited{
    text-decoration: none;
    color: #FCA311;
    font-weight: bolder;
}
main{
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
section{
    width: 80%;
    height: auto;
    background-color: #0077B6;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;  
}
h2{
    color: #FCA311;
    margin-bottom: 20px;
}
header, footer{
    text-align: center;
    font-weight: bolder;
    font size: large;
}