@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-fondo:#F5FBE6;
    --color-secundario:#FEEE91;
    --color-acento:#215E61;
    --color-texto:#233D4D;
    --color-texto-titulos:#ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-fondo);
    font-family: "Roboto", sans-serif;
}
header{
    background-color: var(--color-acento);
    color: var(--color-texto-titulos);
    height: 100px;
    text-align: center;
}
nav{
    text-align: center;
    background-color: var(--color-texto);
    height: auto;
    padding: 20px;
}
nav ul li{
    width: 120px;
    display: inline-block;
    background-color: var(--color-secundario);
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-width: 3px;
    border-color:lightgray;
    border-radius: 20px;
}
nav ul li a:link,nav ul li a:visited{
    text-decoration: none;
    color: var(--color-texto);
    font-weight: bolder;
}
main{
    padding: 50px;
}
main section{
    background-color: var(--color-acento);
    margin-bottom: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    color: var(--color-fondo);
}
main section h2{
    margin-bottom: 30px;
    margin-top: 20px;
}
main section p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}
footer{
    background-color: var(--color-texto);
    color: var(--color-fondo);
    padding: 50px;
    text-align: center;
    font-size: large;
}
.box-oscuro{
    background-color: var(--color-texto);
}
#seccion_tabla_simple{
  overflow: auto;  
}
#simple{
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #F5FBE6;
    border-collapse: separate;
    border-spacing: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5FBE6;
}
#simple th{
    background-color: #F5FBE6
}
#simple th, #simple td{
    border-style: solid;
    border-width: 3px;
    border-color: #FEEE91;
    background-color: #215E61;
    padding: 5px; 
}


#tabla2, #tabla2 th, #tabla2 td{
    border-style: solid;
    border-width: 5px;
    border-color: #233D4D;
    border-collapse: collapse;
}
#tabla2{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#tabla2 th{
    background-color: #233D4D;
}
#tabla2 td{
    background-color: #F5FBE6;
    color: #233D4D;
}
#tabla2 td, #tabla2 th{
    width: 150px;
    padding: 10px;
}


#tabla3{
    /*border-style: solid;
    border-width: 5px;
    border-color: #F5FBE6;*/
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right:auto;
}
#tabla3 th, #tabla3 td{
    padding: 20px;
    height: 50px;
    /*border-style: solid;
    border-width: 5px;
    border-color: #F5FBE6;*/
}
#tabla3 th{
    background-color: #F5FBE6;
    color: black;
}
#tabla3 tbody tr:nth-child(even){
    background-color: #215E61;
}
#tabla3 tbody tr:nth-child(odd){
    background-color: brown;
}
.desbordamiento{
    overflow: auto;
}



#tabla4{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-collapse: collapse;
}
#tabla4 th{
    background-color: #233D4D;
    color: #ffffff;
    height: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: #ffffff;
}
#tabla4 td{
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #ffffff;
    color: black;
}
#tabla4 tbody tr:hover{
    background-color: lightgoldenrodyellow;
}



.tabla_style_1{
    border-width: thin;
    border-style: solid;
    border-color: #233D4D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50%;
}
.tabla_style_1 th{
    background-color: #F5FBE6;
    color: #215E61;
}
.tabla_style_1 td{
    background-color: #0c979e;
}
.tabla_style_1 th, .tabla_style_1 td{
    padding: 20px;
    border-style: solid;
    border-width: medium;
    border-color: #233D4D;
}

.espaciado-sup{
    margin-top: 30px;
}
.imagen-medium{
    width: 35%;
    height: auto;
}
.imagen-small{
    width: 20%;
    height: auto;
}
.centrar{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.imagen-flotante-der{
    float: right;
}
.imagen-flotante-izq{
    float: left;
    margin-right: 20px;
}
.imagen-circular{
    border-radius: 50%;
}
.imagen-bordes-redondeados{
    border-radius: 30px;
    border-style: solid;
    border-width: 10px;
    border-color: #F5FBE6;
}
.imagen-xsmall{
    width: 17%;
    height: auto;
}
.imagen-margenes{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.alineacion-centrada{
    text-align: center;
}
.alineacion-izquierda{
    text-align: left;
}



.img-filtro-grices{
    filter: grayscale(100%);
}
.img-filtro-sepia{
    filter: sepia(100%);
}
.img-filtro-brillo{
    filter: brightness(120%);
}
.img-filtro-contraste{
    filter: contrast(150%);
}
.img-filtro-saturacion{
    filter: saturate(150%);
}
.img-filtro-negativo{
    filter: invert(100%);
}
.img-filtro-blur{
    filter: blur(2px);
}
.img-filtro-opacidad{
    filter: opacity(50%);
}
.img-filtro-sombra{
    filter: drop-shadow(10px 10px 10px #cfcfcf);
}
.fondo-section{
    width: 70%;
    background-image: url(../img/30921733_7733639.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    
}
.fondo-section p{
    padding-left: 575px;
    padding-right: 250px;
    line-height: 150%;
}
.fondo-section h2{
    text-align: center;
    font-size: 48px;
}
.box-links{
    background-color: transparent;
}



.centrar_section{
    width: 50%;
    height: auto;
}
.centrar_media{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
video{
    width: 50%;
    height: auto;
}
h1, h2{
    font-family: "Crete Round", serif;
    font-size: 48px;
    font-weight: 100;
}
h2{
    font-size: 24px;
}



form{
    background-color: brown;
    width: 30%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
label{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
input[type=text],input[type=password],select{
    background-color: #F5FBE6;
    width: 100%;
    padding: 10px;
    color:black;
    font-size:medium;
    border-color: #233D4D;
    border-style: solid;
    border-width: 3px;
}
input[type=submit]{
    margin-top: 30px;
    width: 30%;
    background-color: #233D4D;
    color: #F5FBE6;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
input[type=date]{
    background-color: #F5FBE6;
    color:black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-size: larger;
    border-color: #233D4D;
    border-style: solid;
    border-width: 3px;
}
input[type=file]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border-color: #233D4D;
    border-style: solid;
    border-width: 3px;
    background-color: #F5FBE6;
    color: black;
}




form div{
    margin-top: 20px;
    text-align: center;
}
form div input, form div label{
    width: auto;
    display: inline-block;
    margin-right: 10px;
}

.icono {
  width: 32px;
  height: 32px;
}

.boton{
    color: var(--color-texto);
    background-color: #FEEE91;
    height: auto;
    text-align: center;
    border-radius: 20px;
    width: 120px;
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 3px;
    border-color:lightgray;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}
